.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    .reset-link(@text-transform: uppercase; @text-decoration: none; @color: @basic_white);
    .font-size(@size: 16px; @weight: 400);
    .font-oswald(@family: Oswald; @style: normal);
    background-color: @basic_green;
    &--show {
        background-color: @basic_grey;
        color: @special_dark-grey;
        margin-bottom: 25px;
    }
    &--offer {
        padding: 7px 0;
        width: 88%;
    }
}

button {
    outline: none;
    border: none;
    .indents(@margin: 0; @padding: 0);
}