.offer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    background: @basic_white;
    .indents(@margin: 0 auto; @padding: 0);
    margin-bottom: 22px;
}

.offer__header {}

.offer__title {
    color: @basic_white;
    margin-bottom: 25px;
}

.offer__image-container {flex-grow: 2;
    min-height: 305px;
    background: @basic_green url(../img/index-background-mobile@1x.jpg) no-repeat top left;
    margin-bottom: 135px;
}

.offer__text {
    color: @basic_white;
    text-transform: uppercase;
    line-height: 14px;
    text-align: center;
    margin: auto;
}

.offer__image {}

.offer__link {
    display: block;
    padding: 7px 0;
    width: 88%;
}